body {
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
}

/* nav */
.nav-links-style {
    list-style: none;
}

.nav-links-style li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

/* hero 區背景顏色 */
.hero {
  background-color: #495e57; /* 深綠 */
  color: #fff;
}

.hero h1 {
  font-size: 2.5rem;
  color: #f4ce14; /* 黃色 */
  margin-bottom: 0.25rem;
  font-family: 'Karla';
}

.hero h2 {
  margin-top: 0;
  font-family: 'Karla';
}


.hero-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 16px;
}

/* primary button */
.primary-btn {
  background-color: #f4ce14;
  border: none;
  border-radius: 0.5rem;
  padding: 0.75rem 1.5rem;
  font-weight: 700;
  cursor: pointer;
}

/* 主內容標題 */
.specials h2 {
  font-size: 2rem;
  font-family: 'Karla';
}

/* 價錢顏色 */
.price {
  color: #ee9972;
  font-weight: 700;
}


.card-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1rem 1rem 0 0;
}

.card-body a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}